# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# flex output
*.yy.*

# Bison output
parser.h
parser.c

# Executables
*.exe
*.out
*.app
src/vala_interpreter
src/lexer_test
src/parser_test
